cvxpy==1.4.1
docplex==2.25.236
ibm-cloud-sdk-core==3.17.3
ibm-platform-services==0.47.0
matplotlib==3.8.1
networkx==3.2.1
numpy==1.26.2
pylatexenc==2.10
qiskit==0.45.0
qiskit-aer==0.13.0
qiskit-algorithms==0.2.1
qiskit-ibm-provider==0.7.2
qiskit-ibm-runtime==0.14.0
qiskit-optimization==0.6.0
qiskit-terra==0.45.0
rustworkx==0.13.2
scipy==1.11.3
sympy==1.12